/* fonts loading */
@font-face {
    font-family: "Raleway Black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
    font-family: "Raleway Extra Bold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}


/* 1.header */

div.header {
	height: 700px;
	width: 1500px;
	float: left;
	background: url(../images/indexBack.jpg);
	background-size: cover;
}

body {
	margin: 0px;
}

div.header_inside {
	height: inherit;
	width: 1230px;
	margin: 0px auto;
}

/* 1.1. surfhouse logo */

div.header_inside img.surfhouse_logo {
	position: absolute;
	left: 234px;
	top: 24px;
}

/* 1.2 welcome */

div.welcome_wrap {
	background-color:  #fff51f;
	width: 270px;
	height: 300px;
	padding: 82px 25px 0px 25px;
	position: absolute;
	left: 165px;
	top: 336px;
	box-sizing: border-box;
}

/* 1.2.1 WELCOME TO SURFACE */

div.welcome_wrap > div.welcome {
	font-family: "Raleway Bold", sans-serif;
	color:  #333333;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

/* 1.2.2. the only online store... */

div.welcome_wrap > div.welcome_text {
	font-family: "Raleway Bold Italic", sans-serif;
	font-size: 18px;
	line-height: 14px;
	margin-top: 24px;
	color: #333;
}

/* 1.3. social net icons */

div.icons_wrap {
	position: absolute;
	left: 1151px;
    	top: 50px;
	display: flex;
	width: 145px;
	justify-content: space-between;
}

div.icons_wrap > a {
	text-decoration: none;
}

div.icons_wrap > a > i {
	color: #fff;
}

div.icons_wrap > a > i:hover {
	color: #abeafa;
}

/* 1.4. FUNRIDE */

div.funride_wrap {
    position: absolute;
    left: 913px;
    top: 243px;
}

div.funride_wrap > div.funride_head {
    font-family: "Raleway Extra Bold", sans-serif;
    color: #fff51f;
    font-size: 48px;
    line-height: 34px;
    text-transform: uppercase;
}

div.funride_wrap > div.funride_desc {
    font-family: "Raleway Regular", sans-serif;
    color: #fff51f;
    font-size: 18px;
    margin-top: 5px;
}

div.funride_wrap > a.funride_button {
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    display: block;
    line-height: 49px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Raleway Black", sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-top: 62px;
}

div.funride_wrap > div.funride_button:hover {
    color: #fff51f;
    background-color: #000;
}

